[submodule "contrib/open_spiel"]
	path = contrib/open_spiel
	url = git@github.com:google-deepmind/open_spiel.git
[submodule "contrib/thread-pool"]
	path = contrib/thread-pool
	url = git@github.com:bshoshany/thread-pool.git
[submodule "contrib/pybind11"]
	path = contrib/pybind11
	url = git@github.com:pybind/pybind11.git
